<br>
<br>
<br>
<h1>Cadastrar Usuário</h1>
<form action="/cadastro" method="POST" enctype="multipart/form-data">
    <input type="=email" name="email" placeholder="informe o email"/><br> <br>
    <input type="password" name="senha" placeholder="informe a senha"/>
    <br> <br>
    <input type="submit" name="conectar">
    <br>
    <br>
    <input type="file" name="imagem_prod">
</form>
<br>
<h5>Só é feito cadastro para ONGs</h5>

<table class="table" >
    <tr>
        <th>Foto</th>
        <th>Email</th>
        <th>Senha</th>
        <th>Atualizar</th>
        <th>excluir</th>
    </tr>
    {{#each doador}}
    
         <tr>
             <td><img src="/static/imagens/{{foto}}"></td>
             <td>{{email}}</td>
             <td>{{senha}}</td>
             <td><a href="/update/{{id}}" class="btn btn-warning" >Editar</a></td>
             
             
          

             <td>
                 
                  <form method="POST" action="/delete" styles="display: inline;" onsubmit="confirmarDelecao(event, this)">
                 
                 <input type="hidden" name="id" value="{{id}}">
                 <button class="btn btn-danger">Excluir</button>
             
            </form>
             </td>
         </tr>
    {{/each}}
    
</table>

<script>
               function confirmarDelecao(event, form){
                   event.preventDefault();
                   var decision = confirm("Tem certeza em deletar esse usuario?")
                   if(decision){
                       form.submit();
                   }
               }
  
           </script>
























